html,body{
    height: 100%;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
#app::-webkit-scrollbar {
    width: 5px;
}
#app::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
#app::-webkit-scrollbar-thumb {
    background-color: #cecece;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.no-data {
    width: 100%;
    height: 100%;
}